# Mail Proxy configuration
SMTPFAST_API_KEY=...

AUTHENTIK_EMAIL__HOST=mailproxy

AUTHENTIK_EMAIL__USERNAME=changeme
AUTHENTIK_EMAIL__PASSWORD=changeme
AUTHENTIK_ERROR_REPORTING__ENABLED=true

# OAuth2 Configuration
AQUALOG_OAUTH_ISSUER_URL=https://auth.aqualog.home.cylindric.net/application/o/aqualog/
AQUALOG_OAUTH_AUDIENCE=your-aqualog-client-id
